@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'VT323', monospace;
    user-select: none;
}

ul {
    list-style: none;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    opacity: 1;
    margin: 0;
}

.runner__container{
    overflow: hidden;
    position: relative;
    width: 800px;
    height: 200px;
    border-bottom: 1px solid black;
}

.scoreboard{
    position: absolute;
    right: 0;
    font-size: 1.5em;
    display: inline-flex;
    column-gap: 50px;
}

.start{
    position: absolute;
    font-size: 2em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dino{
    position: absolute;
    bottom: 1%;
    left: 1%;
    height: 22%;
}

.cactus{
    position: absolute;
    bottom: 0.3%;
    right: 0;
    height: 20%;
}

.hide{
    display: none;
}