@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'VT323', monospace;
    user-select: none;
}

ul {
    list-style: none;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    opacity: 1;
    margin: 0;
}

.runner__container{
    overflow: hidden;
    position: relative;
    width: 800px;
    height: 200px;
    border-bottom: 1px solid black;
    margin-bottom: 50px;
}

.scoreboard{
    position: absolute;
    right: 0;
    font-size: 1.5em;
    display: inline-flex;
    column-gap: 50px;
}

.start{
    position: absolute;
    font-size: 2em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dino{
    position: absolute;
    bottom: 1%;
    left: 1%;
    height: 22%;
}

.cactus{
    position: absolute;
    bottom: 0.3%;
    right: 0;
    height: 20%;
}

.hide{
    display: none;
}

.game__over{
    position: absolute;
    font-size: 1.8em;
    top: 29%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 10px;
    display: none;
}


#score-table{
    font-size: 1.2em;
    width: 100%;
    max-width: 400px;
    // border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
}

.score__list{
    font-size: 1.5rem;
}

.list__item:not(:last-child) {
    margin-bottom: 5px;
}

.results__title{
    margin-bottom: 20px;
    font-size: 1.2em;
    letter-spacing: 1px;
}

.footer__container {
  width: 100%;
  max-width: 1400px;
  padding: 80px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 auto;
}

.footer__container a {
  cursor: pointer;
}

.github__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
}

.github__logo svg {
  width: 50px;
  fill: #596260;
  cursor: pointer;
  -webkit-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}

.github__logo svg:hover {
  fill: #8e8e8e;
  -webkit-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}

.github__logo span {
  font-size: 1.25rem;
  text-align: end;
  color: #596260;
  padding: 0 0 5px 0;
}

.rs__link{
    width: 100px;
    height: 100%;
}