@import url('https://fonts.googleapis.com/css2?family=Forum&family=Inter:wght@400;700&display=swap');

:root{
    --first-color: #0C0C0E;
    --second-color: #000;
    --third-color: #BB945F;
    --fourth-color: #fff;
    --fifth-color: #8E8E8E;

/*========== Font  ==========*/
    --body-font: "Inter", sans-serif;
    --second-font: 'Forum';
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
  
html {
    scroll-behavior: smooth;
}

input,
button {
    border: none;
    outline: none;
}

ul {
    list-style: none;
}
  
a {
    text-decoration: none;
}
  
/*REUSABLE CSS CLASSES*/

.container{
    max-width: 1440px;
    margin: 0px auto;
}

section:not(:first-child){
    padding: 20px 20px 40px 20px;
}

section:nth-child(3){
    padding: 15px 20px 40px 20px;
}

section:nth-child(5){
    padding: 20px 20px 36px 20px;
}

section:nth-child(6){
    padding: 20px 20px 43px 20px;
}

body.lock{
    overflow: hidden;
}

/*GENERAL CLASSES*/

body{
    font-family: var(--body-font);
    min-width: 639px;
}

.wrapper{
    overflow-x: clip;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    
}
 /*HEADER*/
.header{
    position: relative;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: var(--first-color);
    transition: background .4s;
    padding: 0 1.25rem;
}

div>h1{
    color: var(--fourth-color);
    font-family: var(--second-font);
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 166.667% */
    letter-spacing: 0.6px;
}

.header__position{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
}

.header__nav_position{
    display: flex;
    align-items:center;
    margin-right: 0;
}

nav>ul{
    display: flex;
    margin: 0;
    padding: 0;
}

.navigation__link{
    color: var(--fourth-color);
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 50px;
    position: relative;
    transition: all .3s;
}

.navigation__link:hover{
    color: var(--third-color);
    transition: all .3s;
}

.navigation__link:hover::before{
    transform: scaleX(1);
    transition: transform 0.25s;
    transform-origin: left;
}

.navigation__link:before{
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 8%;
    background-color: #ffffff;
    transform: scaleX(0);
    transition: transform 0.25s;
    transform-origin: right;
}

.navigation__item:not(:last-child){
    margin-right: 30px;
}

.navigation__item:last-child{
    margin: 0 40px 0 0;
}

.header__img>img{
    width: 28px;
}

@media (max-width: 1024px) {
    .header__burger{
      display: block;
      margin-left: 40px;
      right: 0;
      width: 45px;
      height: 20px;
      position: relative;
      z-index: 3;
    }
  
    .header__burger::after,
    .header__burger::before{
      content: '';
      position: absolute;
      width: 100%;
      right: 0;
      height: 2px;
      background-color: var(--fourth-color);
      transition: all .5s ease 0s;
    }
  
    .header__burger::after{
      top: 0;
    }
  
    .header__burger::before{
      bottom: 0;
    }
  
    .header__burger > span{
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: var(--fourth-color);
      top: 8.5px;
      transition: all .5s ease 0s;
    }
  
    .header__nav-navigation{
        position: absolute;
        right:0;
        top: 100%;
        transform: translateX(100%);
        width: 332px;
        height: 480px;
        background: #0C0C0E;
        padding: 10px 107px;
        transition: all 0.7s ease 0s;
        overflow: auto;
        text-align: center;
    }  
  
    .navigation__item:not(:last-child) {
      margin-right: 0px;
    }
  
    .navigation__item:last-child {
      margin-right: 0px;
    }
  
    .header__burger.active::after{
      transform: rotate(45deg);
      top: 9px;
    }
  
    .header__burger.active::before{
      transform: rotate(-45deg);
      bottom: 9px;
    }
  
    .header__burger.active > span{
      transform: scale(0);
    }
  
    .header__nav-navigation.active{
        transform: translateX(0);
        transition: .7s;
    }
  
    .navigation__list{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 30px;
    }
  
    .header__img{
      position: relative;
      z-index: 2;
    }
  }

//   .header__img img{
//     background-color: #8E8E8E;
//   }

  .header__profile__list{
    position: absolute;
    right: 20px;
    top: 70px;
    background-color: var(--fourth-color);
    padding: 5px 12.5px 20px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.5s ease-in-out;
  }

  @media (max-width: 1024px) {
    .header__profile__list{
        top: 39px;
        right: 0px;
    }
  }

  .header__profile__list-active{
    visibility: visible;
    opacity: 1;
    transform: translateY(10px);
}

  .header__profile__list-text{
    position: relative;
    display: block;
    text-align: center;
    font-size: 0.9375rem;
    line-height: 20px; /* 133.333% */
    margin-bottom: 20px;
  }

  .header__profile__list-text::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
    width: 40px;
    height: 1px;
    background-color: var(--third-color);
  }

  .header__profile__list-item{
    text-align: center;
    font-size: 0.9375rem;
    line-height: 20px;
  }

  .header__profile__list-item:not(:last-child){
    margin-bottom: 10px;
  }

  .header__profile__list-register,
  .header__profile__list-login{
    background-color: transparent;
    text-align: center;
    font-size: 0.9375rem;
    line-height: 20px;
    font-size: var(--body-font);
    cursor:pointer;
    transition: color .3s;
  }

  .header__profile__list-login:hover,
  .header__profile__list-register:hover{
    color: var(--third-color);
    transition: color .3s;
  }

.header__profile__img{
    cursor: pointer;
    transition: transform 0.3s ease
}

.header__profile__img img:hover{
    fill: var(--third-color);
}

.header__img svg{
    cursor: pointer;
}

.header__img svg:hover path {
    fill: var(--third-color);
  }


/*WELCOME*/

.welcome{
    height: 600px;
    background-image: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 50%), url(../images/Welcome.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding: 220px 0 195px 0;
}

.welcome__title{
    color: var(--fourth-color);
    text-align: center;
    font-family: var(--second-font);
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 3px;
    text-transform: uppercase;
    max-width: 520px;
}

.welcome__container{
    display: flex;
    width: 600px;
    height: 220px;
    padding: 35px 40px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: #0C0C0E;
}

/*ABOUT*/

.section__title{
    color: #0C0C0E;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 100% */
    letter-spacing: 2px;
    text-transform: capitalize;
    font-size: 2.5rem;
    margin-bottom: 40px;
    text-align: center;
    font-family: var(--second-font);
    position: relative;
    padding: 0 0 21px 0;
    &::after{
        content: '';
        width: 50px;
        height: 1px;
        flex-shrink: 0;
        background-color: var(--first-color);
        position: absolute;
        left: 50%;
        transform: translateX(-52%);
        bottom: 0;
    }
}

.about__text{
    color: #000;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 20px;
}

.swiper{
    max-width: 1400px;
    text-align: center;
    width: 100%;
}

.image__girl img{
    max-width: 100%;
}

.about__images{
    position: relative;
}

.slider__controls {
    position: absolute;
    top: 49%;
    left: 6%;
    width: 88%;
    display: none;
    justify-content: space-between;
    padding: 0 57px;
    box-sizing: border-box;
  }

.slider__prev-button,
.slider__next-button {
  background-color: rgba($color: var(--fourth-color), $alpha: 1.0);
  border: none;
  cursor: pointer;
  background:rgb(145,145,145);
  border-radius:100%;
  width:30px;
  height:30px;
  display:flex;
  justify-content:center;
  align-items:center;
}

.slider__controls .swiper-button-next::after,
.slider__controls .swiper-button-prev::after{
    content: '';
}     

.btn__reset{
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}

@media (max-width: 1024px) {
   .slider__controls{
    display: flex;
   }
}

@media (max-width: 660px) {
   .slider__controls{
        padding: 0 40px;
   }
}

.swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    column-gap: -2px;
}

.swiper-pagination-bullet {
    position: relative;
    width: 26px;
    height: 26px;
    outline: none;
    cursor: pointer;
    opacity: 1;
    background-color: transparent;
    transition: opacity 0.3s ease-in-out;
        &:hover {
            opacity: 0.7; /* Adjust opacity on hover */
        } 
}

.swiper-pagination-bullet::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    top: 50%;
    right: 0;
    width: 16px;
    height: 16px;
    transform: translate(-50%, -50%);
    background-color: black;
    border-radius: 100%;
    transition: background-color 0.3s ease-in-out;
}

.swiper-pagination-bullet:hover::before {
    background-color: var(--third-color); /* Change background color on hover */
}

/* Style for active button */
.swiper-pagination-bullet-active{
position: relative;
pointer-events: none;
}

.swiper-pagination-bullet-active::before{
    position: absolute;
    left: 50%;
    bottom: 0;
    top: 50%;
    right: 0;
    width: 16px;
    height: 16px;
    transform: translate(-50%, -50%);
    background-color: var(--third-color);
    border-radius: 100%;
}

.slider__circles {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 17px;
    padding: 0;
  }

  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: var(--swiper-pagination-bottom,-256px);
    top: var(--swiper-pagination-top,265px);
    left: 0;
    width: 100%;
    position: revert;
  }

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
     margin: 0;
}

/*FAVORITES*/

.favorites{
    position: relative;
}

.favorites__inputs{
    display: flex;
    column-gap: 82px;
}

.favorites__inputs label{
    transition:  all .5s ease ;
    cursor: pointer;
    opacity: 1;
}

.favorites__inputs label:hover {
    opacity: 0.8;
}
@media (max-width: 769px) {
   .favorites__inputs{
    position: sticky;
    top: 0;
    z-index: 10500;
    padding: 10px;
    width: 100%;
    justify-content: center;
    background-color: rgba($color: gray, $alpha: 0.7);
   }
}

@media (max-width: 736px) {
    .favorites__inputs{
        column-gap: 50px;
        align-items: center;
    }
}

.favorites__inputs-label1,
.favorites__inputs-label2,
.favorites__inputs-label3{

    display: inline-flex;
    gap: 9px;
    align-items: end;
}

.favorites__subtitle{
    color: var(--second-color);
    text-align: start;
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 33px;
}

.custom__input{
    display: none;
}

.check__style{
    display: inline-block;
    position: relative;
    width: 17px;
    height: 17px;
    margin: 5px;
    border-radius: 50%;
    border: 2px solid var(--second-color); 
}

.check__style::before{
    content: "";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    background: var(--second-color);
    border-radius: 50%;
    opacity: 0;
    transition: 0.2s;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    opacity: 0;
    font-weight: 700;
}

.text__input{
    position: relative;
    font-size: 1.25rem;
    font-weight: 400;
    padding: 5px;
}

.custom__input:checked + .check__style::before{
    opacity: 1;
}

.custom__input:checked ~ .text__input {
    font-weight: 700;
}

.favorites__books{
    display: flex;
    flex-wrap: wrap;
    margin: 37px -110px 0 -110px;
}

.favorite__books_half{
    flex: 0 1 50%;
    padding: 0 110px;
    margin: 0 0 40px 0;
    height: 100%;
}

@media (max-width: 1426px) {

    .favorites__books{
        margin: 37px -70px 0 -70px;
    }    

    .favorite__books_half{
        flex: 0 1 50%;
        padding: 0 70px;
    }
}


@media (max-width: 1340px) {

    .favorites__books{
        margin: 37px -40px 0 -40px;
    }    

    .favorite__books_half{
        flex: 0 1 50%;
        padding: 0 40px;
    }
}

@media (max-width: 1280px) {

    .favorites__books{
        margin: 37px -10px 0 -10px;
        flex-direction: column;
        align-items: center;
    }    

    .favorite__books_half{
        display: block;
        padding: 0 40px 0 10px;
        width: 605.875px;
    }
}

.favorite__books_half:nth-child(4n-1),
.favorite__books_half:nth-child(4n) {
  margin-bottom: 0;
}

@media (max-width: 1280px) {
    .favorite__books_half:nth-child(3){
        margin-bottom: 40px;
    }
}

@media (max-width: 1280px) {
    .favorite__books_half:nth-child(3),
    .favorite__books_half:nth-child(7),
    .favorite__books_half:nth-child(11),
    .favorite__books_half:nth-child(15){
        margin-bottom: 40px;
    }
}

.favorites__wrapper_description{
    padding: 13px 0 13px 19px;
    border: 1px solid black;
    position: relative;
    max-width: 550px;
    height: 555px;
    display: flex;
    flex-wrap: wrap;
}

.description__image{
    position: absolute;
    bottom: -5px;
    right: -41px;
}

.favorites__bg_description{
    display: flex;
    flex-direction: column;
}

.description__subtitle{
    font-family: var(--second-font);
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 2.5rem;
    letter-spacing: 0.125rem;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.description__subtitle::after{
    content: '';
    display: block;
    width: 60px;
    height: 1px;
    background-color: var(--third-color);
}

.description__title{
    color: #000;
    font-size: 0.9375rem;
    font-weight: 700;
    line-height: 2.5rem;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.description__title > span{
    color: #000;
    font-size: 0.9375rem;
    font-weight: 700;
    line-height: 2.5rem;
    letter-spacing: 0.125rem;
    text-transform: capitalize;
}

.description__text{
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 2.5rem;
    letter-spacing: 0.125rem;
    text-transform: capitalize;
    max-width: 355px;
    margin-bottom: auto;
}

.description__button{
    display: inline-block;
    width: 74px;
    color: var(--first-color);
    text-align: center;
    font-size: 10px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    padding: 9px 23px;
    background-color: var(--fourth-color);
    outline: 1px solid black;
    cursor: pointer;
    border-radius: 2px;
    transition: all .4s;
}

.description__button:hover{
    outline: none;
    background-color: var(--third-color);
    transition: all .4s;
}

.description__button__inactive{
    display: inline-block;
    width: 74px;
    color: var(--third-color);
    text-align: center;
    font-size: 10px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    padding: 9px 23px;
    background-color: var(--fourth-color);
    border: 1px solid var(--third-color);
    border-radius: 2px;
}

.favorite__books_half {
    /* Стили блока */
    opacity: 1;
    height: auto;
    overflow: hidden;
    transition: opacity .5s ease-in-out;
    display: none;
}

.fade-in {
    display: block;
    opacity: 1;
}
    
.fade{
    animation-name: fade;
    animation-duration: 2s;
}
@keyframes fade{
    from{opacity: 0.1;}to{opacity: 1;}
}


 /*COFFEE SHOP*/

.shop__text{
    text-align: center;
    font-size: 1.25rem;
    line-height: 2.5rem; /* 200% */
    letter-spacing: 2px;
    text-transform: lowercase;
    margin-bottom: 40px;
}

@media (max-width: 768px) {
    .shop__text{
        letter-spacing: 1.95px;
    }
}

.shop__text-letter{
    text-align: center;
    font-size: 1.25rem;
    line-height: 2.5rem; /* 200% */
    letter-spacing: 2px;
    text-transform: uppercase;
}

.shop__menu-general{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.shop__menu-right{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

@media (max-width: 956px) {
    .left__menu{
        justify-content: flex-start;
        margin-right: auto;
    }
    
    .right__menu{
        justify-self: flex-end;
        margin-left: auto;
    }

    .shop__menu-general{
        row-gap: 40px;
    }
}

.menu__title{
    color: var(--third-color);
    font-family: var(--second-font);
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 2.5rem;    
    letter-spacing: 0.125rem    ;
    text-transform: capitalize;
}

.menu__title-right {
    color: var(--third-color);
    font-family: var(--second-font);
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 2.5rem;
    letter-spacing: 0.125rem;
    text-transform: capitalize;
    text-align: end;
}

.menu__list{
    display: flex;
    flex-direction: column;
    column-gap: 40px;
}

.menu__list__right{
    display: flex;
    flex-direction: column;
    column-gap: 40px;
    align-items: flex-end;
}

.menu__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__dish{
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 2.5rem;
    letter-spacing: 0.125rem;
    text-transform: capitalize;
    margin-right: 56px;
}

.menu__border{
    display: inline-block;
    width: 100px;
    height: 1px;
    background: #BB945F;
    margin-left: auto;
}

.menu__price{
    font-size: 1.25rem;
    font-family: var(--second-font);
    font-weight: 400;
    line-height: 2.5rem;
    letter-spacing: 0.125rem;
    text-transform: capitalize;
    margin-left: 61px;
}

 /*CONTACTS*/

.contacts__information{
    display: flex;
    justify-content: space-between
}

.contacts__personal-info{
    display: flex;
    flex-direction: column;
}

.info__title{
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 2.5rem;
    letter-spacing: 0.125rem;
    text-transform: capitalize;
}

.info__list{
    margin: 40px 0;
}

.info__items:not(:last-child){
    margin-bottom: 20px;
}

.info__items{
    font-size: 1.25rem;
    line-height: 2.5rem;
    letter-spacing: 0.125rem;
    text-transform: capitalize;
}

.info__items a{
    color: var(--second-color);
}

.info__owner{
    margin-top: 20px;
    font-size: 1.25rem;
    line-height: 2.5rem;
    letter-spacing: 0.125rem;
    text-transform: capitalize;
}

.info__owner > a{
    font-weight: 700;
    color: var(--second-color);
}


@media (max-width: 1300px) {
    .contacts__information{
        flex-direction: column;
        row-gap: 50px;
    }

    .contacts__map{
        text-align: end;
    }
}

@media (max-width: 768px) {
    .contacts__information{
        flex-direction: column;
        row-gap: 100px;
    }

    .contacts__map{
        text-align: center;
    }

    .contacts__map > img{
        display: block;
        width: 100%;
        height: 100%;
        padding: 0 16px;
    }
}

 /*LIBRARY CARD*/

.library__cards{
    display: flex;
    justify-content: space-between;
}

.card__searching{
    display: flex;
    flex-direction: column;
}

.card__searching__title{
    font-size: 1.875rem;
    letter-spacing: 0.6px;
    color: var(--second-color);
    text-align: center;
    margin-bottom: 30px;
    font-weight: 400;
}

.card__searching__bg{
    border: 3px solid var(--third-color);
    background: var(--fourth-color);
    padding: 17px 17px 27px 17px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.user__info{
    background-color: var(--third-color);
    padding: 20px 20px 0 20px;
    margin-bottom: 20px;
}

.user__info__title{
    font-family: var(--second-font);
    font-size: 1.875rem;
    line-height: 3.125rem;
    letter-spacing: 0.6px;
    margin-bottom: 20px;
}

.user__info-form{
    display: inline-flex;
    flex-direction: column;
}

.user__info-label{
    margin-bottom: 25px;
}

.input__margin{
    margin-bottom: 25px;
}

.user__info-input{
    width: 520px;
    height: 66px;
    flex-shrink: 0;
    border-radius: 10px;
}

.user__info-input::placeholder{
    color: var(--fifth-color);
    font-family: var(--second-font);
    font-size: 30px;
    line-height: 50px;
    letter-spacing: 0.6px;
}

.user__info-input[type="text"] {
    color: var(--third-color);
    font-family: var(--second-font);
    font-size: 1.875rem;
    line-height: 50px;
    letter-spacing: 0.6px;
    padding-left: 20px;
}

.user__info__click{ 
    text-align: center;
}

.user__info__button{
    color: var(--first-color);
    text-align: center;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.0625em;
    border-radius: 2px;
    outline: 1px solid var(--first-color);
    background-color: var(--fourth-color);
    padding: 10px 40px 9px 40px;
    cursor: pointer;
    transition: all .4s;
}

.user__info__button:hover{
    outline: none;
    background-color: var(--third-color);
    transition: all .4s;
}

.card__getting{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 35px;
}

.card__getting__text{
    text-align: right;
    font-size: 1.25rem;
    line-height: 2.5rem;
    letter-spacing: 0.02em;
    max-width: 456px;
}

.card__getting__title{
    font-family: var(--second-font);
    font-size: 1.875rem;
    font-weight: 400;
    letter-spacing: 0.02em;
}

.card__getting__buttons{
    display: inline-flex;
    column-gap: 20px;
}

.card__getting__button__2{
    color: var(--first-color);
    text-align: center;
    font-size: 0.625rem;
    font-weight: 700;
    letter-spacing: 0.01em;
    padding: 9px 20px;
    background-color: var(--fourth-color);
    border-radius: 2px;
    outline: 1px solid var(--first-color);
    cursor: pointer;
    transition: all .4s;
}

.card__getting__button__2:hover{
     outline: none;
     background-color: var(--third-color);   
     transition: all .4s;
}

.card__getting__button__1{
    color: var(--first-color);
    text-align: center;
    font-size: 0.625rem;
    font-weight: 700;
    letter-spacing: 0.1em;
    padding: 9px 15.5px;
    background-color: var(--fourth-color);
    border-radius: 2px;
    outline: 1px solid var(--first-color);
    cursor: pointer;
    transition: all .4s;
}

.card__getting__button__1:hover{
    outline: none;
    background-color: var(--third-color);
    transition: all .4s;
}

@media (max-width: 1150px) {
    .library__cards{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    .card__searching{
        width: 600px;
    }
}

@media (max-width: 768px) {
    .library__cards{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        align-items: center;
    }

    .card__getting{
        align-items: center;
     }
     
     .card__getting__text{
         text-align: center;
         max-width: 600px;
         margin-bottom: 4px;
     }

    .card__searching{
        width: 600px;
    }
    
    .card__getting__title{
        margin-bottom: 8px;
    }

    section:nth-child(5){
        padding: 20px 20px 40px 20px;
    }
}

/*FOOTER*/

.footer{
    background-color: var(--first-color) ;
    padding: 20px 20px 44px 20px;
}

.footer p{
    color: var(--fourth-color) ;
}

.footer__general__info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;
}

.general__info__place{
    font-size: 0.9375rem;
    line-height: 20px;
}

.general__info__place>a{
    color: var(--fourth-color);
}

.footer__general__info_destination{
    display: flex;
    flex-direction: column;
    row-gap: 18px;
}

.social__network__list{
    display: flex;
    column-gap: 16px;
}

.work__time{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.work__time p{
    text-align: right;
    font-size: 0.9375rem;
    line-height: 20px;
}

.footer__border{
    border: 1px solid var(--fourth-color);
    margin-bottom: 45px;
}

.footer__basement{
    display: flex;
    justify-content: space-between;
}

.footer__basement__year{
    font-size: 1.25rem;
    line-height: 20px;
    letter-spacing: 2px;
}

.footer__basement__school{
    font-size: 1.25rem;
    line-height: 20px;
    letter-spacing: 2px;
}

.footer__basement__school>a{
    color: var(--fourth-color) ;
}

.footer__basement__user{
    font-size: 1.25rem;
    line-height: 20px;
    letter-spacing: 2px;
}

.footer__basement__user>a{
    color: var(--fourth-color) ;
}

.froze-scroll {
    overflow: hidden;
}

.popup__login,
.popup__register,
.popup__profile,
.popup__purchase
{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.6s ease 0s;
}

// .popup__profile{
//     position: fixed;
//     width: 100%;
//     height: 100%;
//     background-color: rgba(0, 0, 0, 0.8);
//     top: 0;
//     left: 0;
//     z-index: 100;
//     opacity: 0;
//     visibility: hidden;
//     overflow-y: auto;
//     overflow-x: hidden;
//     transition: all 0.6s ease 0s;
// }

.popup__login.open,
.popup__register.open,
.popup__profile.open
{
    opacity: 1;
    visibility: visible;
}

.popup__login.open .popup__content,
.popup__register.open .popup__content,
.popup__profile.open .content
{
    transform: translate(0px, 0%);
    opacity: 1;
}

.popup__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 35px 15px;
}
.popup__content {
    background-color: var(--fourth-color);
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 250px;
    width: 100%;
    min-height: 262px;
    opacity: 0;
    transition: all 0.6s ease 0s;
    transform: translate(0px, - 100%);
}
.popup__close {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 15px;
    height: 15px;
    cursor: pointer;
    background-color: #ffff;
}

.popup__close > svg{
    width: 100%;
    height: 100%;
}

.popup__close svg path {
    transition: all 0.2s linear;
}
  
.popup__close svg:hover path {
    fill: var(--third-color);
    stroke: var(--third-color);
    transition: all 0.2s linear;
  }

.popup__title {
    color: #000;
    text-align: center;
    font-family: var(--second-font);
    font-size: 1.25rem;
    line-height: 20px; /* 100% */
    letter-spacing: 0.025rem;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.popup__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.popup__label {
    display: flex;
    flex-direction: column;
}

.popup__label > span:not(:last-child){
    font-size: 1.066rem;
    line-height: 20px; /* 133.333% */
    letter-spacing: 0.3px;
    display: block;
    margin-bottom: 10px;
}
.popup__label-input-name,
.popup__label-input-password{
    border: none;
    outline: 1px solid var(--third-color);
    color: rgb(34, 34, 34);
    font-size: 100%;
}

.popup__login-btn{
    background-color: var(--fourth-color);
    border-radius: 2px;
    outline: 1px solid #0C0C0E;
    padding: 9px 20px;
    max-width: max-content;
    font-size: 0.6rem;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .3s;
    margin: 20px 0 10px 0;
}

.popup__login-btn:hover{
    background-color: var(--third-color);
    transition: all .3s;
    outline: none;
}

.popup__text-login-register {
    text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
    font-size: 0.625rem;
    display: inline-flex;
    gap: 10px;
}
.popup__login-register {
    font-size:  0.625rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration-line: underline;
    background-color: var(--fourth-color);
    cursor: pointer;
    transition: color .3s;
}

.popup__login-register:hover{
    color: var(--third-color);
    transition: color .3s;
}

input[type="text"],
input[type= "password"],
input[type= "email"]{
    padding: 2px 4px;
}

input:focus {
    outline: none;
}

input:focus {
    outline: 2px solid var(--third-color); 
    box-shadow: 0 0 5px rgba(229, 255, 0, 0.5);
}

input {
    transition: outline-color 0.3s, box-shadow 0.3s;
}

.error{
    font-size: 0.6rem;
    color: red;
    margin-top: 10px;
}

.account__btn{
    background-color: transparent;
}

.account__btn-after-register {
    font: var(--body-font);
    color: var(--third-color);
    background-color: var(--fourth-color);
    font-size: 0.8rem;
    border-radius: 20px;
    transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
    width: 28px;
    height: 28px;
    cursor: pointer;
  }
  @media (min-width: 1025px) {
    .account__btn-after-register:hover {
      background-color: rgba(255, 255, 255, 0.16);
    }
  }
  .account__btn-after-register:active {
    opacity: 0.7;
  }

  .nav__profile-after-login{
    padding: 5px 5px 20px;
  }

  .input-reader__name,
  .input-card__number{
    display: block;
    background-color: var(--fourth-color);
    padding: 20px;
    font-size: 1.7rem;
    font-family: var(--second-font);
    justify-items: center;
    color: var(--third-color);
}

.content{
    max-width: 600px;
    width: 100%;
    height: auto;
    border: 1px solid var(--first-color);
    display: flex;
    background-color: var(--fourth-color);
    position: relative;
    opacity: 0;
    transition: all 0.6s ease 0s;
    transform: translate(0px, - 100%);
}


.user__info-list{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 35px;
}

.user__info-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.user__info-item svg{
    width: 25px;
    height: 25px;
}

.user__info-item span{
    font-size: 0.7rem;
    line-height: 1.25rem; /* 200% */
    letter-spacing: 0.0125rem;
}

.user__info-list-profile{
    display: flex;
    column-gap: 35px;
    margin-bottom: 20px;
}

.aside__initials{
    background-color: var(--fourth-color);
    padding: 30px 27px;
    color: var(--third-color);
    text-transform: capitalize;
    margin-bottom: 15px;
    user-select: none;
}

.aside__name-sur{
    padding: 5px 15px;
    max-width: 120px;
    width: 100%;
    background-color: var(--fourth-color);
    text-align: center;
}

.user__info-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.user__info-item svg{
    width: 25px;
    height: 25px;
}

.user__info-item > :first-child{
    font-size: 1.25rem;
    line-height: 1.25rem; /* 200% */
    letter-spacing: 0.0125rem;
}

.user__info-item > :last-child{
    font-size: 0.625rem;
    line-height: 1.25rem; /* 200% */
    letter-spacing: 0.0125rem;
}
.aside{
    background-color: var(--first-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    max-width: 170px;
    width: 100%;
}

.neasidecontent{
    padding: 40px 20px;
}

.popup__title__profile{
    font-family: var(--second-font);
    font-size: 2.25rem;
    font-weight: 500;
    line-height: 1.25rem; /* 50% */
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.rented__books{
    font-size: 1.563rem;
    line-height: 1.25rem;
    margin-bottom: 30px;
}

.rented__books-list{
   list-style: disc;
   margin-bottom: 40px;
}

.rented__books-list{
    font-size: 1.25rem;
    line-height: 1.25rem;
    letter-spacing: 0.125rem;
    text-transform: capitalize;
    padding-left: 20px;
}

.rented__books-list > :first-child{
    margin-bottom: 10px;
}

.card__number-text{
    font-size: 1.25rem;
    line-height: 1.25rem;
}

.card__number{
    color: var(--third-color);
    font-size: 1.25rem;
    line-height: 1.25rem;
    margin: 0 15px;
    transition: all .4s ease;
}

.copy__btn{
    cursor: pointer;
   & rect{
    transition: all .4s ease;
   }
}

.copy__btn:hover rect{
    stroke: var(--third-color);
    transition: all .4s ease;
}

#copySuccessMessage {
    display: none;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fade-in {
    opacity: 1;
}

.fade-out {
    animation: fadeOut 4s;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.popup__content-purchase{
    width: max-content;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--fourth-color);
    position: relative;
    opacity: 0;
    transition: all 0.6s ease 0s;
    transform: translate(0px, - 100%);
}

.popup__title-purchase{
    font-family: var(--second-font);
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.25rem; /* 50% */
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    padding: 20px 0;
    background: var(--first-color);
    color: var(--fourth-color);
    text-align: center;
}

.popup__close-purchase{
    position: absolute;
    right: 15px;
    top: 15px;
    width: 15px;
    height: 15px;
    cursor: pointer;
    background: none;
}

#mySvg path{
    stroke: var(--fourth-color);
    transition: stroke .3s ease;
}

#mySvg:hover path{
    stroke: var(--third-color);
    transition: stroke .3s ease;
}

.popup__purchase-general-information{
    display: flex;
    padding:  35px;
}

.popup__test-purchase-right{
    order: 2;
}

.purchase__text{
    color: var(--fifth-color);
    font-size: 0.9375rem;
    line-height: 20px;
    letter-spacing: 2px;
    max-width: 330px;
    width: 100%;
}

.popup__form-purchase{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 40px 0 0;
}

.double__input{
    display: flex;
    column-gap: 10px;
}

.purchase__input{
    border: none;
    outline: 1px solid var(--third-color);
    color: rgb(34, 34, 34);
    font-size: 100%;
    max-width: 45px;
    width: 100%;
}

.purchase__price{
    display: inline-flex;
    position: relative;
}

.purchase__cost{
    color: var(--first-color);
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: absolute;
    top: 25px;
    right: 23px;
}

.card__number-error,
.card__name-error{
    color: #ff0000;
    font-size: 0.8rem;
    display: block;
    padding: 10px 0 0 5px;
}