@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "VT323", monospace;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

ul {
  list-style: none;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  opacity: 1;
  margin: 0;
}

.runner__container {
  overflow: hidden;
  position: relative;
  width: 800px;
  height: 200px;
  border-bottom: 1px solid black;
  margin-bottom: 50px;
}

.scoreboard {
  position: absolute;
  right: 0;
  font-size: 1.5em;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
}

.start {
  position: absolute;
  font-size: 2em;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.dino {
  position: absolute;
  bottom: 1%;
  left: 1%;
  height: 22%;
}

.cactus {
  position: absolute;
  bottom: 0.3%;
  right: 0;
  height: 20%;
}

.hide {
  display: none;
}

.game__over {
  position: absolute;
  font-size: 1.8em;
  top: 29%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  letter-spacing: 10px;
  display: none;
}

.top__result1, .top__result2 {
  width: 50%; /* Set the width to 50% for two columns */
  float: left; /* Float the elements to create two columns */
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* Include padding and border in the width calculation */
  padding: 10px; /* Adjust padding as needed */
  border: 1px solid #ccc; /* Add borders for clarity */
  clear: both; /* Clear the float to avoid issues with following content */
}